/convertedFile
/file
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Binary files
*.exe
*.out

# Ignored directories
/bin/
/vendor/

# IDE-specific files
.idea/
.vscode/
*.iml

# Dependency management tools
/go.sum